[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
geopandas = "*"
dateparser = "*"
mysqlclient = "*"
pillow = "*"
dbutils = "*"
django-db-connection-pool = {extras = ["mysql"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
