{% extends "layout/base.html" %} 
{% load static %}
{% load humanize %}
{% load myfilters %}


{% block main  %}

<div class="container">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-4 text-right">
                    <h1 class="bold m-b-lg">Domicile</h1>
                    <h1 class="badge bagde-default p-a-md" style="font-size:20px">{{home}}</h1>
                </div>
                <div class="col-md-4 text-center">
                    <h1 class="bold m-b-lg">Nul</h1>
                    <h1 class="badge bagde-default p-a-md" style="font-size:20px">{{draw}}</h1>
                </div>
                <div class="col-md-4 text-left">
                    <h1 class="bold m-b-lg">Extérieur</h1>
                    <h1 class="badge bagde-default p-a-md" style="font-size:20px">{{away}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
    


<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Précédents matchs similaires ({{ similaires_matchs | length }})</h5>
                </div>
                <div class="ibox-content">
                    <table class="table  table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                {% for type in types %}
                                    <th class="text-center">{{type.code}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody style="margin-top:15%">
                            {% for x in similaires_matchs %}
                                {% with x.get_result as result %}
                                <tr {% if match.away != x.away %}class="not_exterieur"{% endif %}>
                                    <td class="bold">{{x.date.day}}/{{x.date.month}}/{{x.date.year}}</td>
                                    <td class="{% if result.home_score > result.away_score %}bold{% endif %} text-right"><a class="no-link" href="{% url 'teamApp:team' x.home %}">{{x.home}}</a></td>
                                    <td class="text-right" width="10px"><label class="label label-{{ x.get_home_before_stats.ppg | couleur }}">{{ x.get_home_before_stats.ppg }}</label></td>
                                    <td class="text-center" width="50">
                                        <h6 class="no-margins text-center">{{result.home_half_score}} - {{result.away_half_score}}</h6>
                                        <p class="no-margins text-center text-small">{{result.home_score}} - {{result.away_score}}</p>
                                    </td>
                                    <td class="text-left" width="10px"><label class="label label-{{ x.get_away_before_stats.ppg | couleur }}">{{ x.get_away_before_stats.ppg }}</label></td>
                                    <td class="{% if result.home_score < result.away_score %}bold{% endif %} text-left"><a class="no-link" href="{% url 'teamApp:team' x.away %}">{{x.away}}</a></td>
                                    <td><a href="{% url 'fixtureApp:match' x.id %}"><i class="fa fa-eye"></i></a></td>
                                </tr>
                                {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>Faits intéressants </h5>
                    <table class="table table-stripped small m-t-md">
                        <tbody>
                            {% for fact in facts %}
                                <tr>
                                    <td><i class="fa fa-circle text-navy"></i> {{fact.sentence}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>




    <style>
        .bold{
            font-weight:bold;
        }
    
        .no-link{
            color: inherit;
            text-decoration: none;
        }
    </style>


    <script>
    </script>
    
    {% endblock main %}
    
    

{% block script %}


{% endblock script %}