{% load static %} 
{% load i18n %}


<nav class="navbar navbar-wrapper navbar-fixed-top navbar-static-top" role="navigation">
    <div class="navbar-header ">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <i class="fa fa-reorder"></i>
        </button>
        <a href="{% url 'fixtureApp:home' %}" class="navbar-brand">Wikibet</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li class="">
                <a aria-expanded="false" role="button" href="{% url 'fixtureApp:home' %}"><i class="fa fa-sign-out"></i>Quoi de neuf</a>
            </li>
            <li class="active">
                <a aria-expanded="false" role="button" href="{% url 'competitionApp:pays' %}"><i class="fa fa-sign-out"></i>Toutes les compétitions</a>
            </li>
            <li class="">
                <a aria-expanded="false" role="button" href="#"><i class="fa fa-sign-out"></i>Prédictions du jour</a>
            </li>
            <li class="">
                <a aria-expanded="false" role="button" href="{% url 'statsApp:statistiques' %}"><i class="fa fa-sign-out"></i>Statistiques</a>
            </li>
            <li class="">
                <a aria-expanded="false" role="button" href="#"><i class="fa fa-sign-out"></i>Forum</a>
            </li>

            <li class="dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="">Menu item</a></li>
                    <li><a href="">Menu item</a></li>
                    <li><a href="">Menu item</a></li>
                    <li><a href="">Menu item</a></li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-top-links navbar-right">

            <li>Aristide Manyessé</li>
            <li>
                <a href="login.html">
                    <i class="fa fa-sign-out"></i> Conexion
                </a>
            </li>
        </ul>
    </div>
</nav>
